NODE_ENV=development
PROGRAM_ID=Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS
RPC_URL=https://api.devnet.solana.com
CRANK_SECRET=
CRANK_DRY_RUN=true
CRANK_RUN_ONCE=false
SWEEP_INTERVAL_MS=300000
BATCH_SIZE=6
