NODE_ENV=development
PROGRAM_ID=8D5chmUeb97oxykaBv7CTFpZnBotVAMnqYAvyk6qcQz9
RPC_URL=https://api.devnet.solana.com
CRANK_SECRET=
CRANK_DRY_RUN=true
CRANK_RUN_ONCE=false
SWEEP_INTERVAL_MS=300000
BATCH_SIZE=6
